.header {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100vw;
    text-align: center;
    background-color: aquamarine;
    height: 18vh;
    z-index: 10;
}

.flex-container {
    display:inline-flex;
    justify-content: center;    
}

.header img {
    height: 8vh;
    margin-top: .7em;
}

.header figcaption {
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: .5em;
} 

.header a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

